<header class="drawer-navbar" role="banner">
  <div class="drawer-container">
    <div class="drawer-navbar-header">
      <a class="drawer-brand" href="/">Drawer</a>
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
    </div>
    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu drawer-menu--left">
		    <li><%= link_to 'Nav1', '#', class: 'drawer-menu-item'%></li>
        <li><%= link_to 'Nav2', '#', class: 'drawer-menu-item'%></li>
      </ul>
    </nav>
  </div>
</header>